@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
	font-family: 'Rubik', sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	font-size: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1366px;
	width: 100%;
	margin: auto;
}

.row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btn{
	background: transparent linear-gradient(transparent);
	cursor: pointer;
}

.d-none{
	display: none !important;
}

.bw-100{
	border-bottom: 1px solid #EBEFF2;
}

.bw-80{
	position: relative;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80%;
		height: 1px;
		background: #EBEFF2;
	}
}