body {
  background: white; }

#infoSale {
  margin: 48px auto 36px; }
  #infoSale > .container {
    padding: 0 40px; }
    #infoSale > .container > .saleSliderMain {
      width: 100%;
      margin: auto; }
      #infoSale > .container > .saleSliderMain .box-sale {
        padding: 14px 25px;
        background: #85B4D5;
        border-radius: 4px;
        margin-right: 39px; }
        #infoSale > .container > .saleSliderMain .box-sale h2,
        #infoSale > .container > .saleSliderMain .box-sale p {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0.01em;
          color: #FFFFFF; }
        #infoSale > .container > .saleSliderMain .box-sale p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: normal;
          padding-top: 12px; }

#digrames > .container {
  padding: 0 40px; }
  #digrames > .container > .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 46px 0; }
    #digrames > .container > .row .saleTeam {
      width: 585px;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
      border-radius: 4px; }
      #digrames > .container > .row .saleTeam h3,
      #digrames > .container > .row .saleTeam h3 > a {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #192A3E;
        padding: 16px 7px; }
      #digrames > .container > .row .saleTeam .convas-container {
        padding: 21px 7px 26px;
        position: relative;
        text-align: center; }
        #digrames > .container > .row .saleTeam .convas-container.dateGS {
          padding: 21px 7px 5.5px; }
        #digrames > .container > .row .saleTeam .convas-container > div {
          height: 344px; }
        #digrames > .container > .row .saleTeam .convas-container .dateNowGS {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          letter-spacing: 0.01em;
          color: #4C5862; }

.canvasjs-chart-credit {
  display: none; }

@media (max-width: 1200px) {
  #digrames > .container {
    padding: 0 40px; }
    #digrames > .container > .row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0; }
      #digrames > .container > .row .saleTeam {
        margin: 20.68px 0; } }

@media (max-width: 800px) {
  #digrames > .container {
    padding: 0 14.33px; }
    #digrames > .container > .row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0; }
      #digrames > .container > .row .col {
        width: 100%; }
      #digrames > .container > .row .saleTeam {
        margin: 20.68px auto;
        width: 100%;
        max-width: 585px; } }
